<%# #FIXME: It's unsustainable to have a new squirrel page for every squirrel in the database %>
<h1>THIS IS LEO</h1>

<p>He is a squirrel. He enjoys long climbs on the tree, burying his acorns for winter, and being a squirrel.</p>
