%h1 Welcome to the most RESTless app ever!

%p Your super cool Academy instructors are Leo and DDM.
%p We're gonna make this app RESTful, and we're gonna have a good time.

%p
  %a{href: "/http-authentication"} Example of HTTP Authentication

%p
  %a{href: "/squirrels"} Let's Begin!
